// @import "src/style_variables.scss";
@import 'src/variables.scss';

.left-bar-item {
  background-color: $clr-mid-bg;
  padding: 6px;
  font-size: 16px;
  font-weight: 500;
  border-left: 6px solid $clr-dark-bg;
  // border-bottom: 3px solid $clr-mid-bg;
  color: $clr-text;
  z-index: 0;
  cursor: pointer;
}

.left-bar-item:hover {
  background-color: $clr-mid-accent;
  font-weight: 900;
}

$border-value: 3px solid #fff2;

.item-active {
  background-color: $clr-light-bg;
  border-left: 6px solid $clr-mid-accent;
  color: $clr-text;
  // border-bottom: 3px solid $cyan;
  // box-shadow: $shadow;
  font-weight: 800;
  z-index: 1;
  border-top: $border-value;
  border-bottom: $border-value;
}

.item-ico {
  position: relative;
  top: -2px;
  display: inline-block;
  margin: 0 6px 0 3px;
  width: 18px;
  height: 18px;
  // background-color: #f55;
}

.item-text {
  display: inline-block;
}
