@import 'src/variables.scss';

.content {
  // display: block;
  // padding-left: 30px;
  position: absolute;
  top: $top-bar-height;
  left: $left-bar-width;
  background-color: $content-color;
  // padding: $margin;
  height: $content-height;
  overflow-y: auto;
  // padding-left: 46px;
}

.left-bar {
  position: absolute;
  left: 0;
  top: 42px;
  width: $left-bar-width;
  height: $content-height;
  padding: 0;
  margin: 0;
  background-color: $left-bar-color;
  // background-color: blue;
  overflow-y: auto;
  box-shadow: 0 0 6px $clr-light-bg;
}

.left-gone {
  animation-name: hide-left-bar;
  animation-duration: $animation-duration;
  left: - $left-bar-width;
}

.left-arrive {
  animation-name: show-left-bar;
  animation-duration: $animation-duration;
}

@keyframes hide-left-bar {
  from { left: 0; }
  to { left: - $left-bar-width; }
}

@keyframes show-left-bar {
  from { left: - $left-bar-width; }
  to { left: 0; }
}

.full-content {
  animation-name: extend-content;
  animation-duration: $animation-duration;
  width: 100%;
  left: 0;
}

.small-content {
  animation-name: shrink-content;
  animation-duration: $animation-duration;
  width: $content-width;
}

@keyframes extend-content {
  from { left: $left-bar-width; width: $content-width; }
  to { right: 0; width: 100%; }
}

@keyframes shrink-content {
  from { left: 0; width: 100%; }
  to { left: $left-bar-width; width: $content-width; }
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-bar-height;
  background-color: $top-bar-color;
}