@import 'src/variables.scss';

.content {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #aaa;
  padding: 6px;
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.left-bar {
  position: absolute;
  left: 0;
  top: 50px;
  width: $leftbarWidth;
  height: calc(100vh - 50px);
  padding: 0;
  margin: 0;
  background-color: #999;
  overflow-y: auto;
}

.left-gone {
  animation-name: hide-left-bar;
  animation-duration: 500ms;
  left: - $leftbarWidth;
}

.left-arrive {
  animation-name: show-left-bar;
  animation-duration: 500ms;
}

@keyframes hide-left-bar {
  from { left: 0; }
  to { left: - $leftbarWidth; }
}

@keyframes show-left-bar {
  from { left: - $leftbarWidth; }
  to { left: 0; }
}

.full-content {
  animation-name: extend-content;
  animation-duration: 500ms;
  width: 100%;
}

.small-content {
  animation-name: shrink-content;
  animation-duration: 500ms;
  width: $contentWidth;
}

@keyframes extend-content {
  from { right: 0; width: $contentWidth; }
  to { right: 0; width: 100%; }
}

@keyframes shrink-content {
  from { right: 0; width: 100%; }
  to { right: 0; width: $contentWidth; }
}
