<div class="content" [ngClass]="{'full-content': !(small$ | async), 'small-content': (small$ | async)}">
  <ng-content></ng-content>
</div>

<div class="top-bar">
  <app-top-bar></app-top-bar>
</div>

<div class="left-bar" [ngClass]="{ 'left-arrive': (is.sidebar$ | async), 'left-gone': !(is.sidebar$ | async) }">
  <app-left-bar></app-left-bar>
</div>
  
<div class="content" [ngClass]="{'small-content': (is.sidebar$ | async), 'full-content': !(is.sidebar$ | async)}">
  <ng-content></ng-content>
</div>
