@import 'src/variables.scss';

$hamburger-size: $top-bar-height - 2 * $div-margin;

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-bar-height;
  background-color: $top-bar-color;
}

.hamburger-div {
  position: absolute;
  top: $div-margin;
  left: $div-margin;
  width: $hamburger-size;
  height: $hamburger-size;
  background-color: $hamburger-color;
}