@import 'src/variables.scss';

$tb-content-height: $top-bar-height - 2 * $margin;

%tb-content-item {
  display: inline-block;
  height: $tb-content-height;
  margin: $margin 0 $margin $margin;
}

.hamburger-div {
  @extend %tb-content-item;
  width: $tb-content-height;
  background-color: $hamburger-color;
}

.tb-item {
  @extend %tb-content-item;
}
