<app-page-div title="User">
  <div>
    <button class="btn btn-primary">Power!</button>
    <button class="btn btn-secondary">Power!</button>
    <button class="btn btn-alert">Power!</button>
    <button class="btn btn-danger">Power!</button>
    <button class="btn btn-info">Power!</button>
    <button class="btn btn-light">Power!</button>
    <button class="btn btn-dark">Power!</button>
    <button class="btn btn-link">Power!</button>
  </div>
  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr><th>Adin</th><th>Dwa</th><th>Tri</th></tr>
      </thead>
      <tbody>
        <tr><td>Adin</td><td>Dwa</td><td>Tri</td></tr>
        <tr><td>Adin</td><td>Dwa</td><td>Tri</td></tr>
        <tr><td>Adin</td><td>Dwa</td><td>Tri</td></tr>
        <tr><td>Adin</td><td>Dwa</td><td>Tri</td></tr>
      </tbody>
    </table>
  </div>
</app-page-div>