// dimension
$left-bar-width: 200px;
$content-width: calc(100% - 200px);

$top-bar-height: 42px;
$content-height: calc(100vh - 42px);

$margin: 6px;

// colors

$clr-checked: #0c0;

$clr-text: #fff;
$clr-light-bg: #a02;
$clr-mid-bg: #501;
$clr-dark-bg: #201;

$side-bar-active-bg: $clr-light-bg;

$content-color: #eee;
$left-bar-color: $clr-dark-bg;
$top-bar-color: #111;
$hamburger-color: #fff;


// animation
$animation-duration: 500ms;


