// dimension
$left-bar-width: 200px;
$content-width: calc(100% - 200px);

$top-bar-height: 42px;
$content-height: calc(100vh - 42px);
$height: calc(100vh - 42px);

$margin: 6px;

// colors

$clr-checked: #0c0;

$clr-text: #fff;
$clr-light-accent: #fc0;
$clr-mid-accent: #f80;
$clr-light-bg: #904;
$clr-mid-bg: #503;
$clr-dark-bg: #202;

$side-bar-active-bg: $clr-light-bg;

$content-color: $clr-dark-bg;
$left-bar-color: $clr-dark-bg;
$top-bar-color: $clr-light-bg;
$hamburger-color: $clr-mid-bg;


// animation
$animation-duration: 500ms;


