<app-left-bar-item name="User" routerLink="user"></app-left-bar-item>
<app-left-bar-item name="User" routerLink="user"></app-left-bar-item>
<app-left-bar-item name="User" routerLink="user" active="true"></app-left-bar-item>
<app-left-bar-item name="Register" routerLink="user/register"></app-left-bar-item>
<app-left-bar-item name="User" routerLink="user"></app-left-bar-item>
<app-left-bar-item name="User" routerLink="user"></app-left-bar-item>
<app-left-bar-item name="User" routerLink="user"></app-left-bar-item>
<app-left-bar-item name="User" routerLink="user"></app-left-bar-item>
<app-left-bar-item name="User" routerLink="user"></app-left-bar-item>